<div class="blog-module latest blog">

<div class="blog_gr"><h2>{{ heading_title_latest }}</h2><a class="all" href="{{ blog_show_all }}">{{ text_show_all }}  <i class="fa  fa-long-arrow-right"></i></a></div>
    {% if posts %} 
        <div class="blog_grid_holder latest column-{{ columns }}  carousel-{{ carousel }}  {{ module }}">
            {% for blog in posts %} 
                <div class="blog_item">
                
                <div class="summary">
                
                <div class="blog_stats">
                {% if author_status%} <span><i class="fa fa-user"></i><b class="text">{{ text_posted_by }}</b> <b class="hl">{{ blog.author }}</b></span>{% endif %} 
                {% if date_added_status%} <span><i class="fa fa-clock-o"><b class="text"></i>{{ text_posted_on }}</b> <b class="hl">{{ blog.date_added_full }}</b></span>{% endif %} 
                {% if page_view_status%} <span><i class="fa fa-eye"></i><b class="text">{{ text_read }}</b> <b class="hl">{{ blog.count_read }}</b></span>{% endif %} 
                {% if comments_count_status%} <span><i class="fa fa-comments"><b class="text"></i>{{ text_comments }}</b> <b class="hl">{{ blog.comment_total }}</b></span>{% endif %} 
                </div>
                {% if blog.image  and  thumb %} 
                <div class="image">
                <a href="{{ blog.href }}"><img src="{{ blog.image }}" alt="{{ blog.title }}" title="{{ blog.title }}" /></a>
                </div>
                {% endif %} 
                {% if not characters == '0' %}

                <h2 class="blog_title"><a href="{{ blog.href }}">{{ blog.title }}</a></h2>

                <p>{{ blog.description }}</p>
                <p><a href="{{ blog.href }}">{{ text_read_more }}  <i class="fa fa-long-arrow-right"></i></a></p>
                {% endif %} 
                </div>
               </div>
            {% endfor %}
        </div>
    {% endif %} 
</div>