{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <h1>{{ heading_title }}</h1>
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <div class="row">
        {% if column_left or column_right %}
        {% set class = 'col-lg-6' %}
        {% else %}
        {% set class = 'col-lg-6' %}
        {% endif %}
        <div class="{{ class }}">
          {% if thumb or images %}
          <div class="thumbnails">
            {% if thumb %}
            <div class="image-main"><a href="{{ popup }}" title="{{ image_title ? image_title : heading_title }}"><img src="{{ thumb }}" title="{{ image_title ? image_title : heading_title }}" alt="{{ image_alt ? image_alt : heading_title }}" class="img-responsive" /></a></div>
            {% endif %}
            {% if images %}
            {% for image in images %}
            <div class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ image_title ? image_title : heading_title }}"> <img src="{{ image.thumb }}" title="{{ image_title ? image_title : heading_title }}" alt="{{ image_alt ? image_alt : heading_title }}" /></a></div>
            {% endfor %}
            {% endif %}
          </div>
          {% endif %}   
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-lg-6' %}
        {% else %}
        {% set class = 'col-lg-6' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-body">
            {% if review_status %} 
            <div class="product-sticker form-group">
              {% if rating > 1 %}           			
              <div class="rating">
                {% for i in 1..5 %}
                {% if rating < i %}
                <span class="star-empty"></span>
                {% else %}
                <span class="star"></span>
                {% endif %}
                {% endfor %}
                <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click');  $('html, body').animate({ scrollTop: $('a[href=\'#tab-review\']').offset().top - 5}, 250); return false;">{{ reviews }}</a>
              </div>
              {% else %}
              <div class="rating">
                {% for i in 1..5 %}
                {% if rating < i %}
                <span class="star-empty"></span>
                {% else %}
                <span class="star"></span>
                {% endif %}
                {% endfor %}
                <div class="write-review">
                  <span>{{ text_review_write }}</span>
                  <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click');  $('html, body').animate({ scrollTop: $('a[href=\'#tab-review\']').offset().top - 5}, 250); return false;"><i class="fa fa-comments" style="font-size:inherit;"></i> {{ text_write }}</a>
                </div>
              </div>
              {% endif %}
            </div>
            {% endif %}
            {% if price %}
            <div class="price product-price">
              {% if not special %}
              <div class="price-main">{{ price }}</div>
              {% else %}
              <div class="product-price__old">
                <span class="price-old__value">{{ price }}</span>
                <span class="product-label">{{ "-" ~ percent ~ "%" }}</span>
                {% if economy %}
                <span class="product-label price-economy badge">{{ text_sale }} {{ economy }}</span>
                {% endif %}
              </div>
              <div class="price-main price-special">{{ special }}</div>
              {% endif %}
              {% if tax %}
              <div class="price-tax">{{ text_tax }} {{ tax }}</div>
              {% endif %}
              {% if reward %}
              <div class="product-reward">
                <span>{{ text_reward }}</span>
                {{ reward }}
                {% if points %}
                <span class="reward-questions">?</span>
                <div class="price-points dropdown-box">{{ text_points }} {{ points }}</div>
                {% endif %}
              </div>
              {% endif %}
              <div class="card-stickers">
                {% if quantity <= 0 %}
                <div class="product-stickers product-stock">
                  <div class="product-label product-stock__wrap nostock">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-x" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                    <span class="align-middle">{{ stock }}</span>
                  </div>
                </div>
                {% else %}
                <div class="product-stickers product-stock">
                  <div class="product-label product-stock__wrap stock-in">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-check" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>
                    <span class="align-middle">{{ text_instock }} {% if config_stock %}{{ stock }}{% endif %}</span>
                  </div>
                </div>
                {% endif %}
              </div>
              {% if discounts %}
              <div class="product-discount">
                {% for discount in discounts %}
                <div class="price-discount">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endif %}
            {% if price == false %}
            <div class="alert-price">{{ attention }}</div>
            {% endif %}
            {% if config_wishlist or config_compare %}
            <div class="btn-group product-add__buttons">
              <div class="form-group">
                {% if config_wishlist %}
                <div class="add-btn add-wishlist" onclick="wishlist.add('{{ product_id }}');">
                  <span class="add-btn__svg">
                    <svg class="svg-icon icon icon-heart" width="24" height="24" viewBox="0 0 20 20"><path d="M13.22,2.984c-1.125,0-2.504,0.377-3.53,1.182C8.756,3.441,7.502,2.984,6.28,2.984c-2.6,0-4.714,2.116-4.714,4.716c0,0.32,0.032,0.644,0.098,0.96c0.799,4.202,6.781,7.792,7.46,8.188c0.193,0.111,0.41,0.168,0.627,0.168c0.187,0,0.376-0.041,0.55-0.127c0.011-0.006,1.349-0.689,2.91-1.865c0.021-0.016,0.043-0.031,0.061-0.043c0.021-0.016,0.045-0.033,0.064-0.053c3.012-2.309,4.6-4.805,4.6-7.229C17.935,5.1,15.819,2.984,13.22,2.984z M12.544,13.966c-0.004,0.004-0.018,0.014-0.021,0.018s-0.018,0.012-0.023,0.016c-1.423,1.076-2.674,1.734-2.749,1.771c0,0-6.146-3.576-6.866-7.363C2.837,8.178,2.811,7.942,2.811,7.7c0-1.917,1.554-3.47,3.469-3.47c1.302,0,2.836,0.736,3.431,1.794c0.577-1.121,2.161-1.794,3.509-1.794c1.914,0,3.469,1.553,3.469,3.47C16.688,10.249,14.474,12.495,12.544,13.966z"></path></svg>
                  </span>
                  <span class="align-middle">{{ button_wishlist }}</span>
                </div>
                {% endif %}
                {% if config_compare %}
                <div class="add-btn add-compare" onclick="compare.add('{{ product_id }}');">
                  <span class="add-btn__svg">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                  </span>
                  <span class="align-middle">{{ button_compare }}</span>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div id="product">
              {% if options %}
              <div class="heading_title">{{ text_option }}</div>
              {% for option in options %}
              {% if option.type == 'select' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for option_value in option.product_option_value %}
                  <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} 
                  </option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
              {% if option.type == 'radio' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}">
                  {% for option_value in option.product_option_value %}
                  <div class="radio">
                    <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                  </div>
                  {% endfor %} 
                </div>
              </div>
              {% endif %}
              {% if option.type == 'checkbox' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}">
                  {% for option_value in option.product_option_value %}
                  <div class="checkbox">
                    <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                  </div>
                  {% endfor %} 
                </div>
              </div>
              {% endif %}
              {% if option.type == 'text' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
              </div>
              {% endif %}
              {% if option.type == 'textarea' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
              </div>
              {% endif %}
              {% if option.type == 'file' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                    <polyline points="17 8 12 3 7 8"></polyline>
                    <line x1="12" y1="3" x2="12" y2="15"></line>
                  </svg>
                  {{ button_upload }}
                </button>
                <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
              </div>
              {% endif %}
              {% if option.type == 'date' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group date">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                      </svg>
                    </button>
                  </span>
                </div>
              </div>
              {% endif %}
              {% if option.type == 'datetime' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group datetime">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                      </svg>
                    </button>
                  </span>
                </div>
              </div>
              {% endif %}
              {% if option.type == 'time' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group time">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                      </svg>
                    </button>
                  </span>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% if recurrings %}
              <hr>
              <div class="heading_title">{{ text_payment_recurring }}</div>
              <div class="form-group required">
                <select name="recurring_id" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for recurring in recurrings %}
                  <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                  {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
              </div>
              {% endif %}
              <div class="form-group">
                <div class="button-group product-button__group">
                  <div class="product-quantity">
                    <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                    <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                  </div>
                  <div class="product-button__cart">

					{% if buyoneclick_status_product %}
					<button type="button" data-loading-text="{{ buyoneclick_text_loading }}" class="btn btn-border btn-lg boc_order_btn" {% if (buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator is defined and buyoneclick_ya_identificator != '') or (buyoneclick_google_status and buyoneclick_google_category_btn is defined and buyoneclick_google_category_btn != '' and buyoneclick_google_action_btn is defined and buyoneclick_google_action_btn != '') %} onClick="clickAnalytics(); return true;" {% endif %} data-target="#boc_order" data-product="{{ heading_title }}" data-product_id="{{ product_id }}">{{ buyoneclick_name }}</button>
					{% endif %}
				
                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-cart-plus cr-k"></i><span class="bt">{{ button_cart }}</span></button>		
                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                  </div>
                </div>
              </div>
              {% if minimum > 1 %}
              <div class="alert-minimum">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="8" x2="12" y2="12"></line>
                  <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
                {{ text_minimum }}
              </div>
              {% endif %}
              <div class="product-body__list">
                {% if manufacturer %}
                <div class="product-items product-manufacturer"><span>{{ text_manufacturer }}</span> <a href="{{ manufacturers }}">{{ manufacturer }}</a></div>
                {% endif %}
                <div class="product-items product-model"><span>{{ text_model }}</span> {{ model }}</div>
                {% if sku %}  
                <div class="product-items product-sku"><span>{{ text_sku }}</span> {{ sku }}</div>
                {% endif %}
                {% if weight > 0 %} 
                <div class="product-items product-weight"><span>{{ text_weight }}</span> {{ weight }}</div>
                {% endif %}
                <hr>
                {{ description }}
              </div>

            </div>
          </div>
        </div>
      </div>
      <br />
      

{% set attribute_tab_exists = attribute_groups is defined and attribute_groups|length > 0 %}
{% set review_tab_exists = review_status is defined and review_status %}

{% if attribute_tab_exists and review_tab_exists %}
  {% set active_tab = 'tab-specification' %}
{% elseif review_tab_exists %}
  {% set active_tab = 'tab-review' %}
{% endif %}

<!-- Navigation Tabs -->
<ul class="nav nav-tabs">
  {% if attribute_tab_exists %}
    <li class="{% if active_tab == 'tab-specification' %}active{% endif %}">
      <a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a>
    </li>
  {% endif %}
  {% if review_tab_exists %}
    <li class="{% if active_tab == 'tab-review' %}active{% endif %}">
      <a href="#tab-review" data-toggle="tab">{{ tab_review }}</a>
    </li>
  {% endif %}
</ul>

<div class="tab-content">
  {% if attribute_tab_exists %}
    <div class="tab-pane {% if active_tab == 'tab-specification' %}active{% endif %}" id="tab-specification">
      <table class="table table-bordered">
        {% for attribute_group in attribute_groups %}
          <thead>
            <tr>
              <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
            </tr>
          </thead>
          <tbody>
            {% for attribute in attribute_group.attribute %}
              <tr>
                <td class="td-att">{{ attribute.name }}</td>
                <td>{{ attribute.text }}</td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    </div>
  {% endif %}

  {% if review_tab_exists %}
    <div class="tab-pane {% if active_tab == 'tab-review' %}active{% endif %}" id="tab-review">
      <form class="form-horizontal" id="form-review">
        <div id="review"></div>
        <h2>{{ text_write }}</h2>
        {% if review_guest %}
          <div class="form-group required">
            <div class="col-sm-12">
              <div class="stars-rating">
                <input name="rating" id="s_rating" value="0" type="hidden">
                <div class="wrap" data-rate="0">
                  <span data-toggle="tooltip" title="{{ text_awful }}" data-rate="1"></span>
                  <span data-toggle="tooltip" title="{{ text_bad }}" data-rate="2"></span>
                  <span data-toggle="tooltip" title="{{ text_normal }}" data-rate="3"></span>
                  <span data-toggle="tooltip" title="{{ text_good }}" data-rate="4"></span>
                  <span data-toggle="tooltip" title="{{ text_excellent }}" data-rate="5"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-review">{{ entry_review }}</label>
              <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
            </div>
          </div>
          {{ captcha }}
          <div class="buttons clearfix">
            <div class="pull-right">
              <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
            </div>
          </div>
        {% else %}
          {{ text_login }}
        {% endif %}
      </form>
    </div>
  {% endif %}
</div>


      {% if products %}
      <div class="heading_title">{{ text_related }}</div>
      <div class="row related">
        {% set i = 0 %}
        {% for product in products %}
        {% if column_left and column_right %}
        {% set class = 'product-layout product-grid col-sm-6 col-md-6  col-lg-4 col-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'product-layout product-grid col-sm-4 col-md-4 col-lg-3 col-6' %}
        {% else %}
        {% set class = 'product-layout product-grid col-sm-4 col-md-4 col-lg-3 col-6' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-thumb">
            <div class="image hoverimg" data-sw="{{ product.swap }}">
              <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>              
              {% if config_wishlist %}
              <button type="button" class="btn wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><svg width="24" height="24" viewBox="0 0 16 16" class="icon icon-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path></svg></button>
              {% endif %}
            </div>
            <div class="caption">
              <a href="{{ product.href }}" class="product-name">{{ product.name }}</a>
              <div class="button-group__flex">
                <div class="rating">
                  {% for i in 1..5 %}
                  {% if product.rating < i %}
                  <span class="star-empty"></span>
                  {% else %}
                  <span class="star"></span>
                  {% endif %}
                  {% endfor %} 
                  <div class="reviews-count">{{ product.reviews }}</div>
                </div>
              </div>
              <div class="card-action">
                {% if product.price %}
                <div class="price">
                  {% if not product.special %}
                  <span class="price-main">{{ product.price }}</span>
                  {% else %}                
                  <span class="price-old">{{ product.price }}</span>
                  <span class="price-main price-new">{{ product.special }}</span>               
                  {% endif %}
                  {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                  {% endif %} 
                </div>
                {% endif %}

				{% if buyoneclick_status_module %}
				<button type="button" data-loading-text="{{ buyoneclick_text_loading }}" class="btn btn-default btn-block boc_order_category_btn" {% if (buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator is defined and buyoneclick_ya_identificator != '') or (buyoneclick_google_status and buyoneclick_google_category_btn is defined and buyoneclick_google_category_btn != '' and buyoneclick_google_action_btn is defined and buyoneclick_google_action_btn != '') %} onClick="clickAnalytics(); return true;" {% endif %} data-target="#boc_order" data-product="{{ product['name'] }}" data-product_id="{{ product['product_id'] }}">{{ buyoneclick_name }}</button>
				{% endif %}
			
                <div class="button-group__btn">
                  <button type="button" class="btn" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">{{ button_cart }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% set i = i + 1 %}
        {% endfor %} 
      </div>
      {% endif %}
      {% if tags %}
      <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} 
      </p>
      {% endif %}
{{ microdatapro }} {% set microdatapro_main_flag = 1 %} {# microdatapro 8.1 - 1 - main #}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('#modal-cart, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

            $('#optionsModal').modal('show')

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				html = '<div id="modal-cart" class="modal fade">';
				html += '  <div class="modal-dialog modal-cart__dialog">';
				html += '    <div class="modal-content modal-cart__content">';
				html += '      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>';
				html += '      <div class="modal-cart__header">';
				html += '        <div class="modal-cart__title">' + json.title + '</div>';
				html += '      </div>';
				html += '      <div class="modal-cart__body">'
				html += '        <div class="modal-cart__img">';
				html += '          <img src="' + json.img + '" title="' + json.name + '" alt="' + json.name + '">';
				html += '        </div>';
				html += '	     <div class="modal-cart__name"><span class="modal-cart__name--value">' + json.name + '</span><span class="modal-sku">' + json.sku + '</span>' + json.stock + '<span class="text-dost">{{ text_dost }}</span></div>';
        html += '      </div>';
				html += '      <div class="modal-cart__footer">';
				html += '        <button type="button" class="btn btn-secondary" data-dismiss="modal">' + json.continue_shopping + '</button>' + json.checkout + '';
				html += '      </div>';
				html += '    </div>';
				html += '  </div>';
				html += '</div>';

				$('body').append(html);

				$('#modal-cart').modal('show');

				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('.header-cart > a').html('<svg class="svg-icon icon icon-cart" width="24" height="24" viewBox="0 0 20 20"><path fill="#000" d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path><path fill="#000" d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path><path fill="#000" d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path></svg>' + json['total'] + '');
					$('.mobile-menu__cart span').html(json['countProducts']);
				}, 100);					
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});

$(".stars-rating span").click(function() {
    var t = $(this).attr("data-rate");
    $(".stars-rating .wrap").attr("data-rate", t),
    $("#s_rating").val(t)
})
//--></script> 
{% if (microdatapro_main_flag is not defined) %}{{ microdatapro }}{% endif %} {# microdatapro 8.1 - 2 - extra #}
{{ footer }} 
