{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<img src="view/image/payment/enot.png" alt="{{ heading_title }}">
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
					
					<div class="panel-body">
						<div class="col-sm-2" style="text-align: right;margin-left: -15px;margin-right: -15px;"><b> </b></div>
						<div class="col-sm-10" style="padding-left: 25px;">
							<a href="https://enot.io/r/12e98d8" target="_blank">Зарегистрировать сайт в платежной системе ENOT >>></a>
							
						</div>
					</div>
					<div class="panel-body">
						<div class="col-sm-2" style="text-align: right;margin-left: -15px;margin-right: -15px;"><b> </b></div>
						<div class="col-sm-10" style="padding-left: 25px;">
							<a href="https://opencart-3x.ru/download/enot/ENOT-OpenCart-3-ru.pdf" target="_blank">Инструкция по настройке платежей >>></a>
						</div>
					</div>
					
					<div class="form-group required{% if error_merchant_id %} has-error{% endif %}">
						<label class="col-sm-2 control-label">{{ entry_merchant_id }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_enot_merchant_id" value="{{ payment_enot_merchant_id }}" class="form-control">
							{% if error_merchant_id %}
							<div class="text-danger">{{ error_merchant_id }}</div>
							{% endif %}
						</div>
					</div>
					
					<div class="form-group required{% if error_secret_word %} has-error{% endif %}">
						<label class="col-sm-2 control-label">{{ entry_secret_word }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_enot_secret_word" value="{{ payment_enot_secret_word }}" class="form-control">
							{% if error_secret_word %}
							<div class="text-danger">{{ error_secret_word }}</div>
							{% endif %}
						</div>
					</div>
					
					<div class="form-group required{% if error_secret_word %} has-error{% endif %}">
						<label class="col-sm-2 control-label">{{ entry_secret_word2 }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_enot_secret_word2" value="{{ payment_enot_secret_word2 }}" class="form-control">
							{% if error_secret_word2 %}
							<div class="text-danger">{{ error_secret_word2 }}</div>
							{% endif %}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_title }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_enot_title" value="{{ payment_enot_title }}" placeholder="{{ heading_title }}" class="form-control">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_order_status }}</label>
						<div class="col-sm-10">
							<select name="payment_enot_order_status_id" class="form-control">
								{% for order_status in order_statuses %}
								{% if order_status.order_status_id == payment_enot_order_status_id %}
								<option value="{{ order_status.order_status_id }}"
								selected="selected">{{ order_status.name }}</option>
								{% else %}
								<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="payment_enot_status" class="form-control">
								{% if payment_enot_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_enot_sort_order" value="{{ payment_enot_sort_order }}" class="form-control">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}