<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8">
  <![endif]-->
  <!--[if IE 9 ]>
  <html dir="{{ direction }}" lang="{{ lang }}" class="ie9">
    <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <html dir="{{ direction }}" lang="{{ lang }}">
      <!--<![endif]-->
      <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <base href="{{ base }}" />
        {% if description %}
        <meta name="description" content="{{ description }}" />
        {% endif %}
        {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
        {% endif %}
        <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
        <link href="catalog/view/theme/bigmag/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen" />
        <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
        <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
        {% endfor %}
        <link href="catalog/view/theme/bigmag/css/style.min.css" rel="stylesheet">
        {% for script in scripts %}
        <script src="{{ script }}"></script>
        {% endfor %}
        <script src="catalog/view/theme/bigmag/js/common.min.js"></script>
        {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
        {% endfor %}
        {% for analytic in analytics %}
        {{ analytic }}
        {% endfor %}
      </head>
      <body>
        
        <div class="content-container">
          <div class="menu-fixed">
            <nav id="menu" class="sidebar">
              <div class="logo">       
                {% if logo %}
                <a href="{{ home }}" class="logo-img" style="max-width: 232px;"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" style="max-width: 232px;" /></a>
                {% else %}
                <a href="{{ home }}" class="logo-text">{{ name }}</a>
                {% endif %}	  
              </div>
              {{ language }}
              {{ menu }}
            </nav>
          </div>

          
          <div class="wrapper wrapper-shift">
            <div class="menu-page__header">
              <div class="container">
                <header class="header">
                  <div class="logo mobile-logo hidden-lg">
                    <div class="mobile-toggle">
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                      </svg>
                    </div>
                    {% if logo %}
                    <a href="{{ home }}" class="logo-img"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
                    {% else %}
                    <a href="{{ home }}" class="logo-text">{{ name }}</a>
                    {% endif %}	  
                  </div>

                  <div class="lang-m">{{ language }}</div>

                  <div class="header-top__container">
                    {% if informations %}
                    <div class="header-information">
                      {% for information in informations %}
                      <a href="{{ information['href'] }}" rel="nofollow" class="header-information__liks header-link">{{ information['title'] }}</a>
                      {% endfor %}		
                    </div>
                    {% endif %}
                    <div class="header-tel">
                      <div class="header-write__email relative">
                        <svg class="svg-icon icon icon-mail" width="24" height="24" viewBox="0 0 20 20"><path fill="#000" d="M16.999,4.975L16.999,4.975C16.999,4.975,16.999,4.975,16.999,4.975c-0.419-0.4-0.979-0.654-1.604-0.654H4.606c-0.584,0-1.104,0.236-1.514,0.593C3.076,4.928,3.05,4.925,3.037,4.943C3.034,4.945,3.035,4.95,3.032,4.953C2.574,5.379,2.276,5.975,2.276,6.649v6.702c0,1.285,1.045,2.329,2.33,2.329h10.79c1.285,0,2.328-1.044,2.328-2.329V6.649C17.724,5.989,17.441,5.399,16.999,4.975z M15.396,5.356c0.098,0,0.183,0.035,0.273,0.055l-5.668,4.735L4.382,5.401c0.075-0.014,0.145-0.045,0.224-0.045H15.396z M16.688,13.351c0,0.712-0.581,1.294-1.293,1.294H4.606c-0.714,0-1.294-0.582-1.294-1.294V6.649c0-0.235,0.081-0.445,0.192-0.636l6.162,5.205c0.096,0.081,0.215,0.122,0.334,0.122c0.118,0,0.235-0.041,0.333-0.12l6.189-5.171c0.099,0.181,0.168,0.38,0.168,0.6V13.351z"></path></svg>
                        <a href="mailto:{{ email }}" class="header-link">{{ email }}</a>
                      </div>
                      <div class="header-info__phone">
                        <div class="header-phone">
                          <a href="tel:{{ tel }}">{{ telephone }}</a>
                        </div>
                        {% if open %}
                        <div class="header-open">{{ open }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="mobile-menu hidden-sm hidden-md hidden-lg">
                    <div class="mobile-menu__user">
                      <div class="mobile-menu__us">
                        <span class="mobile-block mobile-us__link relative">
                          <svg class="svg-icon icon icon-info" width="24" height="24" viewBox="0 0 20 20">
                            <path fill="#000" d="M10.032,8.367c-1.112,0-2.016,0.905-2.016,2.018c0,1.111,0.904,2.014,2.016,2.014c1.111,0,2.014-0.902,2.014-2.014C12.046,9.271,11.143,8.367,10.032,8.367z M10.032,11.336c-0.525,0-0.953-0.427-0.953-0.951c0-0.526,0.427-0.955,0.953-0.955c0.524,0,0.951,0.429,0.951,0.955C10.982,10.909,10.556,11.336,10.032,11.336z"></path>
                            <path fill="#000" d="M17.279,8.257h-0.785c-0.107-0.322-0.237-0.635-0.391-0.938l0.555-0.556c0.208-0.208,0.208-0.544,0-0.751l-2.254-2.257c-0.199-0.2-0.552-0.2-0.752,0l-0.556,0.557c-0.304-0.153-0.617-0.284-0.939-0.392V3.135c0-0.294-0.236-0.532-0.531-0.532H8.435c-0.293,0-0.531,0.237-0.531,0.532v0.784C7.582,4.027,7.269,4.158,6.966,4.311L6.409,3.754c-0.1-0.1-0.234-0.155-0.376-0.155c-0.141,0-0.275,0.055-0.375,0.155L3.403,6.011c-0.208,0.207-0.208,0.543,0,0.751l0.556,0.556C3.804,7.622,3.673,7.935,3.567,8.257H2.782c-0.294,0-0.531,0.238-0.531,0.531v3.19c0,0.295,0.237,0.531,0.531,0.531h0.787c0.105,0.318,0.236,0.631,0.391,0.938l-0.556,0.559c-0.208,0.207-0.208,0.545,0,0.752l2.254,2.254c0.208,0.207,0.544,0.207,0.751,0l0.558-0.559c0.303,0.154,0.616,0.285,0.938,0.391v0.787c0,0.293,0.238,0.531,0.531,0.531h3.191c0.295,0,0.531-0.238,0.531-0.531v-0.787c0.322-0.105,0.636-0.236,0.938-0.391l0.56,0.559c0.208,0.205,0.546,0.207,0.752,0l2.252-2.254c0.208-0.207,0.208-0.545,0.002-0.752l-0.559-0.559c0.153-0.303,0.285-0.615,0.389-0.938h0.789c0.295,0,0.532-0.236,0.532-0.531v-3.19C17.812,8.495,17.574,8.257,17.279,8.257z M16.747,11.447h-0.653c-0.241,0-0.453,0.164-0.514,0.398c-0.129,0.496-0.329,0.977-0.594,1.426c-0.121,0.209-0.089,0.473,0.083,0.645l0.463,0.465l-1.502,1.504l-0.465-0.463c-0.174-0.174-0.438-0.207-0.646-0.082c-0.447,0.262-0.927,0.463-1.427,0.594c-0.234,0.061-0.397,0.271-0.397,0.514V17.1H8.967v-0.652c0-0.242-0.164-0.453-0.397-0.514c-0.5-0.131-0.98-0.332-1.428-0.594c-0.207-0.123-0.472-0.09-0.646,0.082l-0.463,0.463L4.53,14.381l0.461-0.463c0.169-0.172,0.204-0.434,0.083-0.643c-0.266-0.461-0.467-0.939-0.596-1.43c-0.06-0.234-0.272-0.398-0.514-0.398H3.313V9.319h0.652c0.241,0,0.454-0.162,0.514-0.397c0.131-0.498,0.33-0.979,0.595-1.43c0.122-0.208,0.088-0.473-0.083-0.645L4.53,6.386l1.503-1.504l0.46,0.462c0.173,0.172,0.437,0.204,0.646,0.083c0.45-0.265,0.931-0.464,1.433-0.597c0.233-0.062,0.396-0.274,0.396-0.514V3.667h2.128v0.649c0,0.24,0.161,0.452,0.396,0.514c0.502,0.133,0.982,0.333,1.433,0.597c0.211,0.12,0.475,0.089,0.646-0.083l0.459-0.462l1.504,1.504l-0.463,0.463c-0.17,0.171-0.202,0.438-0.081,0.646c0.263,0.448,0.463,0.928,0.594,1.427c0.061,0.235,0.272,0.397,0.514,0.397h0.651V11.447z"></path>
                          </svg>
                        </span>
                        <div id="mobile-us" class="nav-dropdown__menu">
                          <div class="modal-header">
                            <div class="modal-title">{{ text_info }}</div>
                            <button id="mobile-us__close" type="button" class="mobile-close" aria-label="close">
                              <svg class="svg-icon icon icon-close" width="24" height="24" viewBox="0 0 20 20">
                                <path fill="#000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                              </svg>
                            </button>
                          </div>
                          <div class="nav-dropdown__content">
                            {% if informations %}
                            <ul class="list-unstyled mobile-information">
                              <li class="mobile-info__title"><strong>{{ text_info }}</strong></li>
                              {% for information in informations %}
                              <li class="mobile-info__item">				
                                <a href="{{ information.href }}" class="mobile-info__link link-bottom">{{ information.title }}</a>						
                              </li>
                              {% endfor %}	
                            </ul>
                            {% endif %}
                            <ul class="list-unstyled mobile-phone">
                              <li class="mobile-info__title"><strong>{{ text_phone }}</strong></li>
                              <li class="mobile-info__item"><a href="tel:{{ tel }}" class="mobile-info__link">{{ telephone }}</a></li>
                            </ul>
                            <ul class="list-unstyled mobile-address">
                              <li class="mobile-info__title"><strong>{{ text_address }}</strong></li>
                              <li class="mobile-info__item"><span class="mobile-info__link">{{ address }}</span></li>
                            </ul>
                            {% if open %}
                            <ul class="list-unstyled mobile-job">
                              <li class="mobile-info__title"><strong>{{ text_job }}</strong></li>
                              <li class="mobile-info__item"><span class="mobile-info__link">{{ open }}</span></li>
                            </ul>
                            {% endif %}
                            <div class="mobile-menu__wishlist">
                              <a href="{{ wishlist }}" class="mobile-wishlist__link wishlist-link relative wishlist-total">{{ text_wishlist }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mobile-menu__login">
                        <a href="{{ login }}" class="mobile-block mobile-user__link relative" aria-label="login">
                          <svg class="svg-icon icon icon-user" width="24" height="24" viewBox="0 0 20 20">
                            <path fill="#000" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"></path>
                            <path fill="#000" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"></path>
                          </svg>
                        </a>
                      </div>
                      <div class="mobile-menu__compare">
                        <a href="{{ compare }}" class="mobile-block mobile-compare__link relative" aria-label="compare">
                          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                          <span class="count">{{ compare_count }}</span>
                        </a>
                      </div>
                      <div class="mobile-menu__cart">
                        <a href="{{ shopping_cart }}" class="mobile-block mobile-cart__link relative" aria-label="cart">
                          <svg class="svg-icon icon icon-cart" width="24" height="24" viewBox="0 0 20 20">
                            <path fill="#000" d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                            <path fill="#000" d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                            <path fill="#000" d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                          </svg>
                          <span class="count">{{ cart_count }}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <div class="box-search">
                  <div class="header-search">{{ search }}</div>
                  
                  
                  <div class="box-cart">

                  

                    {% if config_account %}
                    {% if logged %}
                    <div class="for-user user-profile">
                      <a href="{{ account }}" class="profile-link relative">
                        <svg class="svg-icon icon icon-user" width="24" height="24" viewBox="0 0 20 20">
                          <path fill="#000" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"></path>
                          <path fill="#000" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"></path>
                        </svg>
                        {{ firstname }}
                      </a>
                    </div>
                    {% else %}
                    <div class="for-user user-profile">
                      <a href="{{ login }}" class="profile-link relative">
                        <svg class="svg-icon icon icon-user" width="24" height="24" viewBox="0 0 20 20">
                          <path fill="#000" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"></path>
                          <path fill="#000" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"></path>
                        </svg>
                        {{ text_login }}
                      </a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if config_wishlist %}
                    <div class="for-user wishlist-profile">
                      <a href="{{ wishlist }}" class="header-wishlist wishlist-link wishlist-total">{{ text_wishlist }}</a>
                    </div>
                    {% endif %}
                    <div class="for-user compare-profile">
                      <a href="{{ compare }}" class="header-compare compare-link compare-total">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>

                        {{ text_compare }}
                      </a>
                    </div>
                    {{ cart }}
                  </div>
                </div>
              </div>
            </div>