{% if reviews %}
{% for review in reviews %}
<div class="reviews-item">
  <div class="flex-center">
	<div class="reviews-date">
	  <strong>{{ review.author }}</strong>
      <span class="align-middle">{{ review.date_added }}</span>
      <div class="reviews-rating">
	    <div class="rating">
          {% for i in 1..5 %}
          {% if review.rating < i %}
	      <span class="star-empty"></span>
          {% else %}
          <span class="star"></span>
	      {% endif %}
          {% endfor %}
        </div>
      </div>
	</div>
  </div>  
  <div class="reviews-text">
    <div class="reviews-text__item">
	  {{ review.text }}
    </div>
  </div>  
</div>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %} 