<div class="swiper-viewport">
  <div id="carousel{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
	  {% for banner in banners %}
      <div class="swiper-slide text-center">
	    {% if banner.link %}
	    <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
	    {% else %}
	    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
	    {% endif %}
	  </div>
      {% endfor %}
	</div>  
    <div class="swiper-pagination carousel{{ module }}"></div>
    <button type="button" class="slider-btn swiper-prev slider-btn--prev slider-center" aria-label="Previous"><svg viewBox="0 0 16 16" class="arrow-chevron"><path d="M9.057 8L5.53 4.471a.667.667 0 1 1 .942-.942l4 4c.26.26.26.682 0 .942l-4 4a.667.667 0 1 1-.942-.942L9.057 8z" fill="currentColor"></path></svg></button>
	  <button type="button" class="slider-btn swiper-next slider-btn--next slider-center" aria-label="Next"><svg viewBox="0 0 16 16" class="arrow-chevron"><path d="M9.057 8L5.53 4.471a.667.667 0 1 1 .942-.942l4 4c.26.26.26.682 0 .942l-4 4a.667.667 0 1 1-.942-.942L9.057 8z" fill="currentColor"></path></svg></button>
  </div>
</div>
<script><!--
$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 5,
	pagination: '.carousel{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-next',
  prevButton: '.swiper-prev',
	autoplay: 2500,
	loop: true,
	breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
    }
});
--></script>