{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if stores|length > 1 %} 
        <div class="pull-right">
          <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-select-store" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="input-select-store">{{ entry_store }}</label>
              <div class="col-sm-9">
                <select name="store_id" id="input-select-store" onchange="$('#form-select-store').submit();" class="form-control">
                  <option value="-1">{{ text_all_stores }}</option>
                  {% for store in stores %} 
                  {% if (store['store_id'] == store_id) %} 
                  <option value="{{ store['store_id'] }}" selected="selected">{{ store['name'] }}</option>
                  {% else %} 
                  <option value="{{ store['store_id'] }}">{{ store['name'] }}</option>
                  {% endif %} 
                  {% endfor %} 
                </select>
              </div>
            </div>
          </form>
        </div>
        {% endif %} 
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_view }}</h3>
      </div>
      <div class="panel-body">
        <h3>{{ poll_info['question'] }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-5">
          <div class="panel-heading"><h3>{{ heading_results }}</h3></div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">{{ column_title }}</td>
                  <td class="text-right">{{ column_votes }}</td>
                  <td class="text-right">{{ column_percent }}</td>
                </tr>
              </thead>
              <tbody>
                {% for poll_option in poll_options %} 
                <tr>
                  <td class="text-left">{{ poll_option['title'] }}</td>
                  <td class="text-right">{{ poll_option['reactions'] }}</td>
                  <td class="text-right">{{ poll_option['percent'] }}%</td>
                </tr>
                {% endfor %} 
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-left"><b>{{ text_total_votes }}</b></td>
                  <td class="text-right"><b>{{ total_reactions }}</b></td>
                  <td class="text-right"></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="panel-heading"><h3>{{ heading_chart }}</h3></div>
          <div class="chart-container">
            <div id="chart" class="chart-placeholder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function() {
	var data = [];
	var option_num = 0;

	{% for poll_option in poll_options %} 
		data[option_num] = {
			label: '{{ poll_option['title'] }}',
			data: '{{ poll_option['votes'] }}'
		}

		option_num++;
	{% endfor %} 

	var placeholder = $('#chart');

	placeholder.unbind();

	$.plot(placeholder, data, {
		series: {
			pie: { 
				show: true
			}
		},

		grid: {
			hoverable: true,
			clickable: true
		}
	});

	placeholder.bind('plothover', function(event, pos, obj) {
		if (!obj) {
			return;
		}

		var percent = parseFloat(obj.series.percent).toFixed(2);
		$('#hover').html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
	});

	placeholder.bind('plotclick', function(event, pos, obj) {
		if (!obj) {
			return;
		}

		percent = parseFloat(obj.series.percent).toFixed(2);
		alert(''  + obj.series.label + ': ' + percent + '%');
	});
});
//--></script>
{{ footer }} 