{{ header }} 
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %} 
  </ul>
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
      <h1>{{ heading_title }}</h1>
      <h4>{{ text_polls }}</h4>
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            {% if (polls) %} 
            <tbody>
              {% for poll in polls %} 
              <tr>
                <td class="text-left">{{ poll['question'] }}</td>
                <td class="text-right"><a href="{{ poll['href'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
              </tr>
              {% endfor %} 
            </tbody>
            {% else %} 
            <tfoot>
              <tr>
                <td class="text-center" colspan="2">{{ text_no_polls }}</td>
              </tr>
            </tfoot>
            {% endif %} 
          </table>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}